* {
    margin: 0;
    padding: 0;
}

.paragraph{
    background-color: aqua;
}

.paragraph::first-letter{
    background-color: red;
}

.alternative{
    background-color: green;
    color: yellow;
}

.alternative:hover{
    background-color: black;
    color: antiquewhite;
}

#primeiroP:hover{
    background-color: black;
    color: antiquewhite;
}

#terceiroP:hover{
    background-color: green;
    color: red;
}